
body{
background-color: #f5f5dc;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #800000;
}

li {
    float: left;
}

li a {
    display: block;
    color: #f5f5dc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
}


li a:hover {
    background-color: red;
	
}


#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:20px;
   width:100%;
   background:#800000;
   text-align: center;
   padding: 1rem;
}


#mainSearchBox {
  background-color: #f5f5dc;
  border: 1px solid silver;
  width: 300;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align:center;
  
}

table {
  background-color: #f5f5dc;
  border-collapse:collapse;
  margin:19px 19px;
  margin-bottom: 70px;
}
td {
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
}


/** Login **/

#login .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #f5f5dc;
    border: 1px solid #e5e5e5;
 
}
#login .form-signin .form-signin-heading,
#login .form-signin .checkbox {
    margin-bottom: 10px;
}
#login .form-signin input[type="text"],
#login .form-signin input[type="password"],
#login .form-signin input[type="email"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}




/** Button **/

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  margin:auto;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
 
  border: 1px solid #cccccc;
 
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}




.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-decoration: none;

}

button.btn,
input[type="submit"].btn {
 
}


button.btn.btn-large,
input[type="submit"].btn.btn-large {

}


h6 {
    text-align: center;
	color:black;
}


img {
    display: block;
    margin: auto;
	size:6%; 
}


#infobutton{
  margin:auto;
  display:block;
  
}


#favebutton{
  margin:auto;
  display:block;
  
}

#result{
	margin-bottom:150px;
	font-family:Courier New;
	font-size: medium;
}


.pagination {
    display: inline-block;
    border-radius: 15px;


 }
.pagination a {
    border-radius: 15px;
    border: 1px solid white; /* Gray */
    margin: 0 4px;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.pagination a.active {
    border-radius: 15px;
}
.pagination a:hover {
background-color: red;
